<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página 2</title>
  <link rel="stylesheet" href="/style2.css">
</head>
<body>
  <h1 class="hLogin">Login</h1>
  <div class="d1">
    <p class="p">Faça seu login</p>
    <p class="p2">Usuário</p>
    <input type="text" class="inp">
    <p class="p2">Senha</p>
    <input type="text" class="inp"><br><br>
    <button>Logar</button>
  </div>
  <a href="/">Voltar</a>
</body>
</html>
